@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-code-pattern {
  background-image: url('/code-pattern.svg');
  background-size: cover;
  background-repeat: repeat;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50; /* Assure que le header reste au-dessus des autres éléments */
}
